* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.App {
  text-align: center;
}

.services {
  background-color: #242424;
  color: #fff;
  font-size: 100px;
  padding: 200px 0;
}